@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>



<h3>Could not process at the moment. Please come back later.</h3>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Your Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
